body {
    background: #313131;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

.header {
    margin: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #a7c353;
    max-height: 96px;
}

nav.main-nav {
    display: flex;
    align-items: center;
    min-height: 97px;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 1000px;
    height: 1605px;
    z-index: 167;
}

nav.main-nav a {
    padding: 20px;
    min-height: 97px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: "Georgia", serif;
}

nav.main-nav a:active {
    background-color: #a7c353;
    color: rgb(251, 251, 251)
}

.container {
    background: #ffffff;
    border-top: 5px solid #a7c353;
}

.shout {
    min-height: 135px;
}

.slider {
    min-height: 426px;
    border-bottom: 1px solid #a7c353;
    margin: 0 20px;
}

.image-box {
    min-height: 350px;
    max-width: 920px;
    background: black;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    height: 506px;
}

.footer {
    display: flex;
    justify-content: space-around;
    height: 378px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright h6 {
    color: #999999;
}

.footer p {
    color: #999999;
}

.footer div {
    width: 227px;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 40px;
    height: 100%;
    margin-right: 20px;
}

.borderh {
    margin: 0px;
    border-bottom: 1px solid;
}

ul {
    margin: 0;
    margin-top: 20px;
    padding: 0px;
    color: #999999;
}

.footer li {
    list-style-type: none;
    text-align: initial;
}

.margin5px {
    margin-bottom: 5px;
}

a {
    color: #a7c353;
    text-decoration: none;
}

.margin10px {
    margin: 10px;
}

form {
    margin-top: 10px;
}

.borderli {
    border-bottom: 1px solid #999;
}

p {
    margin: 0px;
}

.cc {
    font-size: 32px;
    font-family: "Georgia";
    color: rgb(102, 102, 102);
    line-height: 1;
    text-align: left;
    left: 39px;
    top: 59.914px;
    z-index: 170;
}

.fpwt {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1;
    text-align: left;
    left: 40px;
    top: 71.843px;
    z-index: 169;
}

.navhm {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb( 151, 151, 151);
    line-height: 1.2;
    text-align: left;
    left: 346px;
    top: 71.671px;
    z-index: 166;
}

.navsd {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    line-height: 1.2;
    text-align: left;
    left: 426px;
    top: 71.78px;
    z-index: 164;
}

.navfw {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    line-height: 1.2;
    text-align: left;
    left: 548px;
    top: 71.78px;
    z-index: 163;
}

.navdd {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    line-height: 1.2;
    text-align: left;
    left: 670px;
    top: 71.78px;
    z-index: 162;
}

.navpf {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    line-height: 1.2;
    text-align: left;
    left: 785px;
    top: 71.671px;
    z-index: 161;
}

.navgl {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
    line-height: 1.2;
    text-align: left;
    left: 899px;
    top: 71.296px;
    z-index: 160;
}

.logo {
    left: 0px;
    top: 0px;
    width: 1000px;
}