body {
    margin: 0 20px;
    background: #313131;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

.header {
    margin: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #a7c353;
    max-height: 96px;
}

nav.main-nav {
    display: flex;
    align-items: center;
    min-height: 97px;
    box-sizing: border-box;
}

nav.main-nav a {
    padding: 20px;
    min-height: 97px;
    box-sizing: border-box;
}

nav.main-nav a:active {
    background-color: #a7c353;
}

.container {
    background: #ffffff;
    border-top: 5px solid #a7c353;
}

.shout {
    min-height: 135px;
}

.slider {
    min-height: 426px;
    border-bottom: 1px solid #a7c353;
    margin: 0 20px;
}

.image-box {
    min-height: 350px;
    max-width: 920px;
    background: black;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    height: 506px;
}

.footer {
    display: flex;
    justify-content: space-around;
    height: 378px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright h6 {
    color: #999999;
}

.footer p {
    color: #999999;
}

.footer div {
    width: 227px;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 40px;
    height: 100%;
    margin-right: 20px;
}

.borderh {
    margin: 0px;
    border-bottom: 1px solid;
}

ul {
    margin: 0;
    margin-top: 20px;
    padding: 0px;
    color: #999999;
}

.footer li {
    list-style-type: none;
    text-align: initial;
}

.margin5px {
    margin-bottom: 5px;
}

a {
    color: #a7c353
}

.margin10px {
    margin: 10px;
}

form {
    margin-top: 10px;
}

.borderli {
    border-bottom: 1px solid #999;
}

p {
    margin: 0px;
}